.todo-wrapper {
  background-color: #240046;
  box-shadow: 10px 10px 0px, rgba(0, 0, 0, 0.2);
  padding: 0rem 4rem;
}
.todo-list-item {
  background-color: #3c096c52;
  box-shadow: 10px 10px 0px, rgba(50, 49, 49, 0.2);
  border-radius: 10px;
}
.icon {
  cursor: pointer;
}